
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* .................................................................................................... */
.svg{
    padding: 10px;
}
.container-fluid{
    padding: 10px !important;
    margin: 10px !important;
}
.navbar-brand{
    
    font-size: 2rem !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.col a{
    text-decoration: none !important;
    color: white !important;
}

.destinations{
    height: auto;
    display: flex;
    flex-direction: column;
}
.destinations>h2{
   margin-top:1em;
   margin:auto;
   text-align: center;
   width:15%;

}
.destinations>h2:hover{
    transition-duration: 0.1s;
}

.destination-container ,.shoes-container ,.accessories-container, .kids-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4em 0px;

}

.destination{
    display: flex;
    flex-direction: column;
    width:25%;
    margin:1em;
    transition-duration: 0.3s;
    border:1px solid white;
    cursor: pointer;
}
.destination>img{
    width:100%;  
}

.destination{
    
    align-items: center;
    
}
.destination>h5, .destination>p, .destination>span,.destination>button{
    margin: 10px;
    
}
.destination>button{
    border: none;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bolder;

}
.destination:hover{
    transform: translateY(-6px);
    transition-duration: 0.5s;
    box-shadow: 0 0 2px 2px grey;
}

/* ..................................................................................................... */

.footer{
    display: flex;
    width: 100%;
    background-color: #0d0d0e;
    padding:2em 1em;
    color: white;
}

.social-links>a,h4{
    text-decoration: none;
    color: white;
    display: block;
    margin-top:0.5em;
}

.social-links>a:hover{
    color: rgb(139, 139, 210);
}
.social-links>a,h4{
    text-decoration: none;
    color: white;
    display: block;
    margin-top:0.5em;
}
.social-links>a:hover{
    color: rgb(139, 139, 210);
}
.intro img{
   
    width:100%;
}
.fa-brands{
    font-size: 2rem;
}
.fa-google-play{
font-size: 2rem;    
}
.fa-app-store-ios{
    font-size: 2rem;
} 

.cartButton{
    background-color: white;
    width: 100px;
}
.navbar{
    background-color: blue !important;
    position: sticky;
    top: 0;
}
.fa-solid {
    color: gold;
    font-size: 20px;
  }
 #contact{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 15px;
 }
 #contact>input ,  #contact>textarea,#contact>select{
    margin: 25px;
    padding: 10px;
    width: 50%;
 }
 #contact>label ,#contact>h2{
    font-size: 2.5rem;
 }
 #contact>select{
    font-size: 1.5rem;
 }
 #contact>button{
    background-color: black;
    color: white;
    padding: 10px 35px;
    margin: 25px;
 }
#maps{
    margin: 55px 25px ;
}
#questions h2{
    font-size: 2.5rem;
    text-align: center;
} 

.navbar-nav.navbar-center {
    position:sticky;
}
#about>.container{
    padding: 10px;
}
.col-md-6{
padding: 10px;
align-items: center !important;
display: flex!important;
flex-direction: column!important;
}

.nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    overflow: hidden;
}
.nav .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .links li{
list-style-type: none;
}
.nav .links li a{
    text-decoration: none;
    margin: 10px;
    color: #0d0d0e;
    font-size: 1.3rem;
    
}


.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 100001;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.cartTab h1{
    margin-bottom: 20px;
}
.card {
    background-image: url('images/nike-just-do-it.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.nike2 {
    background-image: url('images/nike-just-do-it\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.nike3 {
    background-image: url('images/nike-just-do-it\ 3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link{

    font-size: 1.7rem !important;
}

